<h1>User#user_confirmation</h1>

<h3>Hi <%= @user.name %></h3>
<p>
  Your email confirmation token is <%= @user.email_token %> use it to verify your account once you are logged in.
</p>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Sample mail sent using smtp.
    </p>
  </body>
</html>
